<a href="https://colab.research.google.com/github/Manisha6201/Python_Code/blob/main/Python_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
print(List1)

[20, 5.0, 'Manisha', 'orange', 10]

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[0]

20

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[2]

'Manisha'

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[-1]

10

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[2]=2001
print(List1)

[20, 5.0, 2001, 'orange', 10]

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[2:4]

['Manisha', 'orange']

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[:4]

[20, 5.0, 'Manisha', 'orange']

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[2:]

['Manisha', 'orange', 10]

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[-4:-1]

[5.0, 'Manisha', 'orange']

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
if "Manisha" in List1:
  print("Yes")

Yes

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[1:4]=[2.0,"Manju","apple"]
print(List1)

[20, 2.0, 'Manju', 'apple', 10]

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[1:2]=[3.0,"Raghav"]
print(List1)

[20, 3.0, 'Raghav', 'Manisha', 'orange', 10]

In [ ]:
List1=[20,5.0,"Manisha","orange",10]
List1[1:2]=["Om","Jai","Jagdish","Hare"]
print(List1)

[20, 'Om', 'Jai', 'Jagdish', 'Hare', 'Manisha', 'orange', 10]

In [ ]:
x=[20,5.0,"Manisha","orange",10]
y=[30,3.0,"Harender","cherry",50]
print(x+y)

[20, 5.0, 'Manisha', 'orange', 10, 30, 3.0, 'Harender', 'cherry', 50]

In [ ]:
t2=(1)
print(type(t2))

<class 'int'>

In [ ]:
t2=(1,)
print(type(t2))

<class 'tuple'>

In [ ]:
List1=(20,5.0,"Manisha","orange",10)
print(List1[1])

5.0

In [ ]:
List1=(20,5.0,"Manisha","orange",10)
List1[3]

'orange'

In [ ]:
thistuple = ("AAFT", "NIFT", "ATDC")
y = list(thistuple)
y.append("UPSC")
thistuple = tuple(y)
print(thistuple)

('AAFT', 'NIFT', 'ATDC', 'UPSC')

In [ ]:
thistuple = ("AAFT", "NIFT", "ATDC")
y = list(thistuple)
y.remove("NIFT")
thistuple = tuple(y)
print(thistuple)

('AAFT', 'ATDC')

In [ ]:
thistuple = ("Manisha","TBCG","DELHI")
y = ("AAFT",)
thistuple += y
print(thistuple)

('Manisha', 'TBCG', 'DELHI', 'AAFT')

In [ ]:
College1 = ("AAFT", "NIFT", "ATDC")
College2 = ("UPSC","IGNOU")
College3 = College1 + College2
print(College3)

('AAFT', 'NIFT', 'ATDC', 'UPSC', 'IGNOU')

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
thistuple = (1,2,3,3,4,5)
x = thistuple.index(3)
print(x)

2

In [ ]:
thistuple = (1,2,3,3,3,4,5)
x = thistuple.count(3)
print(x)

3

In [ ]:
x = "Hello World"
print(x)

Hello World

In [ ]:
y="""Python is a programming language"
   It is case sensitive
   It is very easy"""
print(y)

Python is a programming language"
   It is case sensitive
   It is very easy

In [ ]:
print("Python is a programming language")

Python is a programming language

In [ ]:
a = "Hello, World!"
print(a[5])

,

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
a = "Hello, World!"
print(a[7:13])

World!

In [ ]:
a = "Hello, World!"
print(a[-5:-2])

orl

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
a = "      Hello, World!           "
print(a.strip())

Hello, World!

In [ ]:
a = "Hi Hello, World!"
print(a.replace("H", "J"))

Ji Jello, World!

In [ ]:
a = "Welcome"
b = "Students"
c = a+b
print(c)

WelcomeStudents

In [ ]:
a = "Welcome"
b = "Students"
c = a + " " + b
print(c)

Welcome Students

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [ ]:
#Display the price with 2 decimals:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
txt = "hello and welcome to my world!"
x = txt.capitalize()
print(x)

Hello and welcome to my world!

In [ ]:
txt = "Welcome to my world"
x =  txt.title()
print(x)

Welcome To My World

In [ ]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [ ]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)
print(x)

1

In [ ]:
txt = "I love apples, apple are my favorite fruit"
x = txt.find("are")
print(x)

21

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [ ]:
set1={1,2,3,4,5,6}
print(set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
set2={1,1,1,2,2,3,3,4,5,6}
print(set2)

{1, 2, 3, 4, 5, 6}

In [ ]:
set3={'A','B','C','D'}
print(set3)

{'A', 'C', 'D', 'B'}

In [ ]:
set4={'A',1,'B',2,'C',3,True}
print(set4)

{1, 2, 3, 'A', 'C', 'B'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [ ]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [ ]:
thisset = {"apple","banana","cherry"}
tropical = {"pineapple","mango","papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'cherry', 'apple', 'pineapple', 'mango', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'orange', 'apple', 'kiwi', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [ ]:
thisset = {"apple","banana","cherry"}
thisset.clear()
print(thisset)

set()

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'a', 1, 2, 3, 'cherry', 'Elena', 'apple', 'c', 'b', 'John', 'bananas'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set2.difference(set1)

print(set3)

{'google', 'microsoft'}

In [ ]:
setx = {"Smith", "John", "Bush", "Clinten"}
sety = {6,7,8,9, "Smith", "Bush", "Obama"}

setxy = sety.difference(setx)

print(setxy)

{6, 7, 8, 9, 'Obama'}

In [ ]:
setx = {"Smith", "John", "Bush", "Clinten"}
sety = {6,7,8,9, "Smith", "Bush", "Obama"}

setxy = setx.difference(sety)

print(setxy)

{'Clinten', 'John'}

In [ ]:
setx = {"Smith", "John", "Bush", "Clinten"}
sety = {6,7,8,9, "Smith", "Bush", "Obama"}

setxy = setx.intersection(sety)

print(setxy)

{'Bush', 'Smith'}

In [ ]:
car_dict={"Brand":"BMW", "Model":"IX", "Year":1964}
print(car_dict)

{'Brand': 'BMW', 'Model': 'IX', 'Year': 1964}

In [ ]:
#Accessing Dictionary elements
print(car_dict["Brand"])

BMW

In [ ]:
#Length of Dictionary
print(len(car_dict))

3

In [ ]:
#Type of Data
print(type(car_dict))

<class 'dict'>

In [ ]:
#For Duplicate Keys
car_dict2={"Brand":"BMW", "Model":"IX", "Year":1964, "Year":2000}
print(car_dict2)

{'Brand': 'BMW', 'Model': 'IX', 'Year': 2000}

In [ ]:
car_dict3={"Brand":"BMW", "Model":"IX", "Year":1964, "Year":2000, "Year":2013}
print(car_dict3)

{'Brand': 'BMW', 'Model': 'IX', 'Year': 2013}

In [ ]:
#For Accessing Dict items
x=car_dict.get("Model")
print(x)

IX

In [ ]:
#The keys() methor will return a list of all the keys in the dictionary.
car_dict.keys()

dict_keys(['Brand', 'Model', 'Year'])

In [ ]:
#The values() method will return a list of all the values in the dictionary.
car_dict.values()

dict_values(['BMW', 'IX', 1964])

In [ ]:
#To change values of Dictionary
car_dict["Year"]=2024
print(car_dict)

{'Brand': 'BMW', 'Model': 'IX', 'Year': 2024}

In [ ]:
#To add new key:value in dictionary
car_dict["Color"]="White"
print(car_dict)

{'Brand': 'BMW', 'Model': 'IX', 'Year': 2024, 'Color': 'White'}

In [ ]:
#The values in dictionary items can be of any data type.
d3={"Name":"A", "Year":2023, "Pass":True, "Marks":[50,60,70]}
print(d3)

{'Name': 'A', 'Year': 2023, 'Pass': True, 'Marks': [50, 60, 70]}

In [ ]:
d3.update({"Year":2024})
print(d3)

{'Name': 'A', 'Year': 2024, 'Pass': True, 'Marks': [50, 60, 70]}

In [ ]:
d3["Phone_no"]=94566
print(d3)

{'Name': 'A', 'Year': 2023, 'Pass': True, 'Marks': [50, 60, 70], 'Phone_no': 94566}

In [ ]:
{"Name":"Manisha",
 "Year":2024,
 "Pass":True,
 "Phone_no":94566}

{'Name': 'Manisha', 'Year': 2024, 'Pass': True, 'Phone_no': 94566}

In [ ]:
d3.update({"Email":"asdf@gmail.com"})
print(d3)

{'Name': 'A', 'Year': 2024, 'Pass': True, 'Marks': [50, 60, 70], 'Phone_no': 94566, 'Email': 'asdf@gmail.com'}

In [ ]:
#For Removing Dictionary items
#The pop() method removes the item with the specified key name:
d3.pop("Phone_no")

94566

In [ ]:
#The del keyword removes the item with the specified key name:
del d3["Marks"]
print(d3)

{'Name': 'A', 'Year': 2023, 'Pass': True}

In [ ]:
#The del keyword can also delete the dictionary completely:
del d3
print(d3)

NameError: name 'd3' is not defined

In [ ]:
#The clear() method empties the dictionary:
d3.clear()
print(d3)

{}

In [ ]:
#Copy Dictionary
d3={"Name":"A", "Year":2023, "Pass":True, "Marks":[50,60,70]}
(d3)

{'Name': 'A', 'Year': 2023, 'Pass': True, 'Marks': [50, 60, 70]}

In [ ]:
d4=d3.copy()
print(d4)

{'Name': 'A', 'Year': 2023, 'Pass': True, 'Marks': [50, 60, 70]}

In [ ]:
d5=dict(d4)
print(d5)

{'Name': 'A', 'Year': 2023, 'Pass': True, 'Marks': [50, 60, 70]}

In [ ]:
myfamily = {
    "child1" : {
      "name" : "Emil",
      "year" : 2004
    },
    "child2" : {
      "name" : "Toblas",
      "year" : 2007
    },
    "child3" : {
      "name" : "Linus",
      "year" : 2011
    }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Toblas', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
print(myfamily["child2"]["name"])

Toblas

In [ ]:
#cONDITIONAL STATEMENTS
#Python supports these Logical conditions from mathematics:
equals:a == b
not equals:a != b

In [ ]:
#An "if statement" is written by using the if keyword
a = 50
b = 100
if b>a:
  print("b is greater than a")

b is greater than a

In [ ]:
number = int(input("Enter a number: "))

# Check if number is greater than 0
if number > 0:
  print("Given number is a positive number")

Enter a number: 6
Given number is a positive number

In [ ]:
number = int(input("Enter a number: "))

# Check if number is greater than 0
if number > 0:
  print("Given number is a positive number")
else:
  print("Given number is a negative number")

Enter a number: -2
Given number is a negative number

In [ ]:
# Write a program to check whether a given number is even or odd
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("Odd No")
else:
   print("Odd No")

Enter a number: 5
Odd No

In [ ]:
#elif

a = 11
b = 11
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
number = -5
if number > 0:
  print("Positive number")
elif number < 0:
  print("Negative number")
else:
  print("Zero")

Negative number

In [ ]:
#Nested if statements
number = 5

#outer if statement
if number > 0:
  # inner if statement
  if number == 0:
    print("Number is 0")

  # inner else statement
  else:
      print("Number is positive")

# outer else statement
else:
    print("Number is negative")

Number is positive

In [ ]:
#While loop we can execute a set of statements as long as a condition is
i = 1
while i < 5:
  print(i)
  i= i + 1

1
2
3
4

In [ ]:
#Print Odd Numbers from 0 to 10
i = 1
while i < 10:
  print(i)
  i= i + 2

1
3
5
7
9

In [ ]:
#
i = 0
while i < 10:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7
8
9
10

In [ ]:
# Write a program to find sum of first n natural numbers.
n = int(input("enter the last number: "))
i = 1
sum = 0
while (i <= n):
  sum = sum + i
  i = i + 1
print("The sum is: ", sum)

enter the last number:10
The sum is:  55

In [ ]:
#Break Statement
i = 1
while (i < 10):
  print(i)
  if i == 3:
    break
  i = i+1

1
2
3

In [ ]:
#Continue Statement
i = 0
while (i < 10):
  i = i+1
  if(i==3):
    continue
  print(i)

1
2
4
5
6
7
8
9
10

In [ ]:
#Find the square of first 10 natural number
i = 1
while i <= 10:
  print(i*i)
  i+=1

1
4
9
16
25
36
49
64
81
100

In [ ]:
# A for loop is used for iterating over a sequence
#(that is either a list, a tuple, a dictionary or a string)

L1 = ["A", "B", "C", "D"]
for x in L1:
  print(x)

A
B
C
D

In [ ]:
for x in "AAFT":
  print(x)

A
A
F
T

In [ ]:
#break Statement
#Exit the loop when x is "B":

L1 = ["A", "B", "C", "D"]
for x in L1:
  print(x)
  if x == "B":
    break

A
B

In [ ]:
# Exit the loop when x is "B", but this time the break comes
# before the print:


L1 = ["A", "B", "C", "D"]
for x in L1:
  if x == "B":
    break
  print(x)

A

In [ ]:
# Continue Statement

L1 = ["A", "B", "C", "D"]
for x in L1:
  if x == "B":
    continue
  print(x)

A
C
D

In [ ]:
# range() Function
for x in range(1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
# Nested For Loops

L2 = [1,2,3]
L3 = ["Google", "Meta", "Fujitsu"]

for x in L2:
  for y in L3:
    print(x,y)

1 Google
1 Meta
1 Fujitsu
2 Google
2 Meta
2 Fujitsu
3 Google
3 Meta
3 Fujitsu

In [ ]:
# pass statement :for loops cannot be empty,
# but if you for some reason have a for loop with no content,
# put in the pass statement to avoid getting an error.

for x in [0,1,2]:
  pass

In [ ]:
i = 10
while i > 0:
  print(i)
  i = i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# WAP for factorial of a number using the loop.

num = int(input("Enter any number:"))

# Initialize the factorial variable to 1
fact = 1

#Calculate the factorial using a for loop
for i in range(1, num + 1):
  fact =fact* i
print("Factorial of a number is",fact)

Enter any number:5
Factorial of a number is 120

In [ ]:
n = int(input("Enter any number:"))
# logic to calculate the factorial of a number
f = 1
while n >= 1:
  f = f * n
  n = n- 1
# print output
print("Factorial is", f)

Enter any number:5
Factorial is 120

In [ ]:
# WAP to check whether a given number is prime or not?

num = int(input("Enter a number: "))

if num == 0 or num == 1:
  print(num, "is not a prime number")
elif num > 1:
  # check for factors
  for i in range(2,num):
      if (num % i) == 0:
          print(num, "is not a prime number")
          break
  else:
     print(num, "is a prime number")

# if input number is less than
# or equal to 1, it is not prime
else:
  print(num, "is not a prime number:")

Enter a number: 5
5 is a prime number

In [ ]:
# WAP to find reverse of a number?

num = int(input(" Enter any number:"))
rev = 0
while(num>0):
  rev=(rev*10)+num%10
  num=num//10
print("Reverse of given number is:",rev)

 Enter any number:234
Reverse of given number is: 432

In [ ]:
num = int(input("Enter number: "))
rev = 0
while num>0:
  rev=rev*10+num%10
  num=num//10

print("Reverse number", rev)

In [ ]:
# WAP to check whether the given number is Palindrome or not?

num = int(input(" Enter any number:"))
rev = 0
x = num
while(num>0):
  rev=(rev*10)+num%10
  num=num//10

if (x==rev):
  print("Given number is palindrome")
else:
  print("Given number is not palindrome")

 Enter any number:121
Given number is palindrome

In [ ]:
num = int(input(" Enter any number:"))
rev = 0
x = num
while(num>0):
  rev=(rev*10)+num%10
  num=num//10

if (x==rev):
  print("Given number is palindrome")
else:
  print("Given number is not palindrome")

In [ ]:
# WAP to check whether given number is Armstrong or not?

n=int(input("Enter number:"))
x=n
sum=0
while(n>0):
  sum=sum+(n%10)*(n)

# WAP to print Pattern:
*
**
***
****
*****

In [ ]:
num=int(input("Enter number of rows:"))
for i in range(1,num+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

Enter number of rows:5
*
**
***
****
*****

In [ ]:
#A function is a block of code which only runs when it is called.
#Functions help in organizing code, reusing code and improving readability.
#You can pass data, known as parameters, into a function.
#A function can return data as a result.

In [ ]:
# a function is defined using the def keyword:
def my_function():
  print("Hello from a function")

In [ ]:
# calling function
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
#Arguments
#Information can be passed into functions as arguments.
#Arguments are specified after the function name, inside the parentheses.
def my_function(fname):
  print(fname + "Trump")

my_function("Donald")

DonaldTrump

In [ ]:
my_function("Melliania")

MellianiaTrump

In [ ]:
#Parameters or Arguments
#A parameter is the variable listed inside the parentheses in the function definition.
#An argument is the value that is sent to the function when it is called.

In [ ]:
#Syntax with return statement:
def function_name(parameters):
  #Function body
return expression

In [ ]:
def even_odd(num):
  if num%2==0:
    print("the number is even")
  else:
    print("the number is odd")

In [ ]:
#call this function
even_odd(24)

the number is even

In [ ]:
# Function with multiple parameters
def add(a,b):
  return a+b


add(2,3)

5

In [ ]:
add(4,5)

9

In [ ]:
# Function can return multiple values
def add(a,b):
  return a+b,a


add(2,4)

(6, 2)

In [ ]:
# Write a function to swap two numbers without using third variable.
def swap(a,b):
    a,b=b,a
    print(a)
    print(b)

In [ ]:
swap(2,4)

4
2